In [2]:
import numpy as np
import pandas as pd

In [3]:
# import response data
predictorData = pd.read_csv("train_labels.csv")
predictorData.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212022 entries, 0 to 212021
Data columns (total 2 columns):
 #   Column      Non-Null Count   Dtype
---  ------      --------------   -----
 0   session_id  212022 non-null  object
 1   correct     212022 non-null  int64
dtypes: int64(1), object(1)
memory usage: 3.2+ MB

In [4]:
# split the "session_id" column into "sessionID" and "qns"
split_predictorData = predictorData['session_id'].str.split("_", expand=True)
# rename the headers
split_predictorData = split_predictorData.rename(columns={split_predictorData.columns[0]: 'sessionID', split_predictorData.columns[1]: 'qns'})
# combine the dataframe of the 2 split items and the correct column of the original dataframe
processed_predictorData = pd.concat([split_predictorData, predictorData['correct']], axis=1)
#change datatype for 'correct' column from int64 to object (CONSIDER 'BOOL' INSTEAD)
processed_predictorData['correct'] = processed_predictorData['correct'].astype('object')

processed_predictorData.info()
processed_predictorData

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 212022 entries, 0 to 212021
Data columns (total 3 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   sessionID  212022 non-null  object
 1   qns        212022 non-null  object
 2   correct    212022 non-null  object
dtypes: object(3)
memory usage: 4.9+ MB

                sessionID  qns correct
0       20090312431273200   q1       1
1       20090312433251036   q1       0
2       20090314121766812   q1       1
3       20090314363702160   q1       1
4       20090314441803444   q1       1
...                   ...  ...     ...
212017  22100215342220508  q18       1
212018  22100215460321130  q18       1
212019  22100217104993650  q18       1
212020  22100219442786200  q18       1
212021  22100221145014656  q18       1

[212022 rows x 3 columns]